<div class="container">
<h1>Mr. Cocktail</h1>
  <p>
    <%= link_to "Add cocktail", new_cocktail_path %>
  </p>
  <div class="cocktails-wrapper">
    <%#= cl_image_tag("avamxvfwe6llscogx6nl", width: 400, height: 300, crop: :fill) %>
    <% @cocktails.each do |cocktail| %>
      <% if cocktail.photo.present? %>
      <div class="cocktail" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),
         url('<%= cl_image_path cocktail.photo, height: 300, width: 400, crop: :fill %>')">
      <% else %>
      <div class="cocktail" style=" background-image: url('http://placehold.jp/24/cccccc/ffffff/300x400.png?text=no image');">
      <% end %>
        <%#= cl_image_tag cocktail.photo, height: 150, width: 300, crop: :fill %>
        <%= link_to cocktail.name, cocktail_path(cocktail) %>
      </div>
    <% end %>
  </div>
</div>
